body {
    background: pink;
}

* {
    font-family: "Helvetica", sans-serif;
}

#reverse-button {
    background: yellowgreen;
}

#challenge-5-values {
    white-space: pre;
}

.line-through-text {
text-decoration: line-through
}

.to-do-list-div {
    padding-top: 10px;
}

#challenge-6-dog-pic-area {
    padding-top: 10px;
}